body{
  text-align: center;
  background-color: #ecf4f3;
  height: 700px;
  overflow-x: hidden;
}

.layout{
  position: absolute;
  top: 10%;
  left: 12%;
}

.headingStyle{
  padding-top: 10%;
  color: blue;
}

.inputRow{
  position: relative;
  top: 50px;
}

.btnRow{
  position: relative;
  top: 100px;
}

.resultTemp{
  position: relative;
  top: 50px;
  display: none;
  color: #1a1c20;
}

.resultText{
  position: relative;
  top: 50px;
  display: none;
  color: #1a1c20;
}

/* alert */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom : 15px;
  position: absolute;
  top: 1%;
  left: 42%;
  display: none;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn-hover {
  color: black;
}
